body {
  background-color: black;
  color: white;
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

h2 {
  color: rgb(73, 146, 247);
}

.user-name,
.user-avatar,
.textarea {
  background-color: inherit;
  border: rgb(73, 146, 247) 0.5px;
  border-style: dotted;
  width: 300px;
  height: 30px;
  color: white;
}

.textarea {
  height: 100px;
}

.box1 {
  flex-basis: 40%;
}

.formbox {
  padding-bottom: 20px;
  gap: 3px;
}

.button {
  color: white;
  background-color: rgb(73, 146, 247);
  margin-top: 30px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

#image-container {
  height: 20px;
  width: 20px;
}
